* {
    /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#UIDAI {
    /* border: 2px solid red; */
    display: inline;
    margin: 10px 0px 0px 20px;
}

#Aadhar_Logo {
    /* border: 2px solid blue; */
    display: inline;
    margin: 0px 0px 0px 810px;
}

a>img {
    margin: 15px 0px 0px 0px;
}

#GOI {
    /* border: 2px solid green; */
    display: block;
    margin: 0px 0px 20px 20px;
}

.navbar {
    margin: 10px 0px 0px 0px;
    background-image: linear-gradient(to right, rgb(0, 0, 133) , rgb(0, 225, 255));
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    padding: 5px 5px;
    margin: 13px 20px;
}

.navbar li a {
    color: white;
    padding: 3px 3px;
    text-decoration: none;
    font-size: 18px;
}

.search {
    float: right;
    /* color: white; */
    padding: 14px 40px;
    font-size: 18px;
}

.search>input,
.btn {
    font-size: 16px;
    border: transparent;
    border-radius: 8px;
    padding: 5px 10px 4px 3px;
}

.btn {
    border: 0.5px solid black;
    margin: 0px 0px 0px 5px;
}
.content > p {
    font-size: 40px;
    text-align: center;
    margin: 80px 0px 240px 0px;
}

.footer {
    background-color: rgb(211, 246, 255);
    height: 80px;
}