<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='Aadhar_Logo.ico') }}" type="image/x-icon">

    <!-- Title -->
    <title>Log In | Unique Identification Authority of India | Government of India</title>

    <!-- CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        #li_hover1:hover,
        #li_hover2:hover,
        #li_hover3:hover,
        #li_hover4:hover {
            font-weight: bold;
            color: black;
        }

        #li_hover4 {
            color: black;
            font-size: 18px;
            font-weight: bolder;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href="index.html" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="{{ url_for('static', filename='aadhaar_english_logo.svg') }}" alt="">
            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a id="li_hover1" href="index.html" class="mr-5 hover:text-gray-900">| My Aadhar</a>
                <a id="li_hover2" href="index.html" class="mr-5 hover:text-gray-900">| About UIDAI</a>
                <a id="li_hover4" href="#log_in" class="mr-5 hover:text-gray-900">| Log In</a>
                <a id="li_hover3" href="index.html" class="mr-5 hover:text-gray-900">| Update Address</a>
            </nav>
        </div>
    </header>
    <hr>
    <section class="text-gray-600 body-font">
        <form action="/login" method="POST">
            <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
                <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
                    <h1 class="title-font font-medium text-3xl text-gray-900">Log in with your Aadhar number.</h1>
                    <p class="leading-relaxed mt-4">Enter your 12 digit correct aadhar number / UID and keep your
                        registered
                        mobile number for OTP.</p>
                </div>
                <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                    <h2 id="log_in" class="text-gray-900 text-lg font-medium title-font mb-5">Log In</h2>
                    <div class="relative mb-4">
                        <label for="full-name" class="leading-7 text-sm text-gray-600">Aadhaar Number / UID</label>
                        <input type="text" id="uid" name="uid"
                            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                            required placeholder="1234-1234-1234">
                    </div>
                    <!-- <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Get OTP</button> -->
                    <!-- <form action="/otp"> -->
                    <a
                        class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                        <button type="submit">Get OTP</button>
                    </a>
                    <!-- </form> -->
        </form>
        <!-- <a href="webcam.html" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                <input href="webcam.html" type="submit" id="Submit" name="Submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            </a> -->

        <!-- <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button> -->
        </div>
        </div>
    </section>
    <hr>
    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a href="index.html" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="{{ url_for('static', filename='uidai_english_logo.svg') }}" alt="">
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
                copyright&copy; 2019 Unique Identification Authority of India All Rights Reserved
            </p>
        </div>
    </footer>
</body>

</html>